.table {
  margin: 20px 0;
}

.heading {
  display: flex;
  margin-bottom: 20px;
}

.button {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.1rem;
}

.row {
  display: flex;
  margin-bottom: 20px;
  background-color: lightgray;
  border-radius: 10px;
  padding: 20px;
  font-weight: 500;
}

.name {
  flex: 1;
  text-align: left;
}

.population {
  flex: 1;
  text-align: center;
}
